::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #252424;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.tracker {
    width: 400px;
    margin-left: 40px;
    border: #ced4da;
}

p {
    font-size: 01rem;
    color: black;
    margin-left: 2%;
    line-height: 1.6rem;
}

.list-group-item {
    border: none;
    color: black !important;
}

.list-group-item.active {
    opacity: 1;
    background-color: #dadbde;
    border: none;
}

.open-questions {
    height: 280px;
    max-height: 282px;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: solid;
    border-color: #ced4da;
    border-width: thin;
    border-radius: 0 0 10px 10px;
}

.question-text {
    margin-top: 0;
    margin-left: 1%;
    font-size: 15px;
    font-weight: bold;
}

#disable-hover {
    text-decoration: none;
    cursor: auto;
    background-color: white;
    pointer-events: none;
}

.question-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.answered {
    color: #5aad5a !important;
}

.loading-bar {
    margin-top: -1.5%;
    height: 15%;
    border-radius: 10px 10px 0 0;
    border-style: solid;
    border-bottom: none;
    border-color: #ced4da;
    border-width: thin;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.progress-bar-style {
    width: 90%;
    margin: auto;
}

.progress-bar {
    background-color: #e94f2c;
}

.bold {
    text-decoration: underline !important;
}