body{
    font-family: 'Averta', sans-serif;
}

.Answer
{
    margin-top: 2%;
}
textarea
{
    resize: none;
    border-radius: 5px;
}
.AnswerHeader
{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 2%;
}
.CorrectAnswer
{
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.buttondiv
{
    text-align: center;
}
.Button
{
    width: 50%;
    color: white !important;
}

