h4{
    height: 110px;
    text-align: center;
    background-color: #e9ecef;
    opacity: 1;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding-top: 8px
}

.answer{
    height: 100%;
    width: 400px;
}

.form-control{
    border-radius: 10px;
}

textarea
{
    resize: none;
    border-radius: 10px;
}

.answer-header
{
    font-size: 16px;
    font-weight: lighter;
}

.correct-answer
{
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.button-div
{
    text-align: center;
}