body{
    font-family: 'Averta', sans-serif;
}

h4{
    height: 110px;
    text-align: center;
    background-color: #e9ecef;
    opacity: 1;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding-top: 8px
}


.AnswerComponent{
    height: 100%;
    width: 400px;
}

.form-control{
    border-radius: 10px;
}

textarea
{
    resize: none;
    border-radius: 10px;
}

.Answer{
    width: 400px;
}

.AnswerHeader
{
    font-size: 16px;
    font-weight: lighter;
}
.CorrectAnswer
{
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.buttondiv
{
    text-align: center;
}



