.exam-table {
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.scroll {
    overflow-y: auto;
    max-height: 500px !important;
    display: block;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr td {
    padding-left: 18px !important;
}


.theadClick thead tr th:nth-child(-n+2) {
    pointer-events: none;
}

.NOT_GRADED {
    background-color: rgba(177, 82, 82, 0.8);
}

.GRADING_IN_PROGRESS {

    background-color: rgba(233, 148, 44, 0.7);
}

.GRADED {
    background-color: rgba(0, 98, 0, 0.5);
}