.main-footer {
    background-color: #e94f2c;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
}

.qpage-footer {
    background-color: #e94f2c;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 9.7vh;
}

.ahrefs{
    color: white;
}

.xahrefs{
    color: white;
    pointer-events: none;
}


.ahrefs:hover{
    color: #000000;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.placecontent{
    place-content: center;
}

p {
    margin: 6px;
    font-size: 18px;
}