body {
  margin: 0;
  font-family: 'Averta', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (-webkit-device-pixel-ratio: 1.25) {
  body {
    zoom: 0.8;
  }
}

@media (-webkit-device-pixel-ratio: 1.50) {
  body {
    zoom: 0.65;
  }
}

@media (-webkit-device-pixel-ratio: 1.75) {
  body {
    zoom: 0.5;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container{
  top: 80px;
  position: fixed;
}

.content-wrap{
  flex: 1;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}