body {
  margin: 0;
  font-family: 'Averta', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container{
  top: 80px;
  position: fixed;
}

.content-wrap{
  flex: 1;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}