:root {
    --primary: #e94f2c;
}

.btn {
    padding :8px 20px;
    border-radius: 4px;
    outline: none !important;
    border: none;
    cursor: pointer;
}

.btn:focus {
    background-color: #b93213;
}

.btn:active{
    background-color: #b93213 !important;
}

.btn--primary{
    background-color: var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #383230;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    text-decoration: blink;
}

.btn--medium {
    border: none !important;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 23px;
    color: white;
    background-color: #e94f2c !important;
    text-decoration: none;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.6);
}

.btn--medium:hover{
    transition: all 0.3s ease-out;
    background: rgba(233, 79, 44, 0.8) !important;
    color: #e94f2c;
}

.btn--yellow {
    width: 49%;
    margin-left: 5px;
    border-radius: 4px;
    color: white;
    background-color: #dfab42 !important;
    text-decoration: none;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.6);
}

.btn--yellow:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #EFCC00;
    color: white;
}

.btn--green {
    width: 49%;
    border-radius: 4px;
    color: white;
    background-color: #5aad5a !important;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.6);
}

.btn--green:hover{
    transition: all 0.3s ease-out;
    background-color: rgba(90,173,90,.51) !important;
    color: white;

}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

.btn--medium:visited {
    text-decoration:none;
}