*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text{
    margin-top: 20px;
    text-align: center;
}

.content-wrap{
  flex: 1;
}

.content-container{
 top: 80px;
  position: absolute;
}


.quick-cards{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #4d4d4d;
    -webkit-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
    color: white;
    border: #1297d0 1px solid;
}
.quick-forms{
    width: 100%;
    padding: 40px;
    border-radius: 5px;
    background-color: #4d4d4d;
    -webkit-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
    color: white;
    border: #1297d0 1px solid;
}