.box {
    border: 1px solid #ced4da;
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px;
    overflow-y: auto;
    height: 250px;
    margin: auto;
    color: #383230;
}

.spacing {
    margin-top: 13px;
}

.box .title {
    text-decoration: underline;
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 15px;
}

.box .list {
    padding-left: 19px;
    padding-right: 5px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #252424;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}