.gradest-advice {
    margin-top: 2%;
    border-radius: 5px;
}

.header-div {
    height: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-text {
    color: white;
    margin-left: 6%;
    font-weight: bold;
    margin-top: 4%;
}

.explanation-div {
    border-top: solid thin black;
    display: inline-block;
}

.explanation-header {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 6%;
    margin-top: 2%;
}

.explanation-text {
    color: white;
    margin-top: 2%;
    margin-left: 6%;
    font-size: 13px;
}

#correct {
    background-color: green;
}

#wrong {
    background-color: red;
}